/*head_line*/
$colorLine-1: #F00062;
$colorLine-2: #8BCD00;
$colorLine-3: #0093C4;
$colorLine-4: #222222;

$lineSize: 3.2em;

$bodyColor:#F9F9F9;

//Top menu
$topMenuColor:#242424;
$topMenusize: 115px;
